h1, h2, h3, h4 {
	margin: 0;
	font-weight: normal;
}

.heading-large {
	font-size: 36px;
	line-height: 42px;
	color: #1a1a1a;
	margin: 0;
	font-weight: normal;
	min-height: 42px;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-shadow: 0 1px #fff;

	&.semi-transparent-bg {
		border-radius: $pad $pad 0 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

h2.heading-large {
	color: #666;
}

.single-application h2.heading-large {
	margin-bottom: $pad;
}

.heading-grande {
	color: #fff;
	font-size: 28px;
	line-height: 32px;
}

a {
	color: $color-gold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


body {
	font-family: "Eurostile", sans-serif;

	font-size: 16px;
	line-height: 22px;
	color: #333;

	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-ms-font-feature-settings: "kern";
	-o-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga=1";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga" 1;
}