@import "bourbon/bourbon";
@import "resets";
@import "extends";

html, body {
	height: 100%;
	position: relative;
}

.container {
	max-width: 1080px;
}

[role="main"] {
	padding-top: 100px;
	padding-bottom: 50px;
	min-height: 100%;
	margin-bottom: -50px;
}

h1, h2, h3, h4 {
	margin: 0;
}

header {
	background: gray;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}