@import "bourbon/bourbon";
@import "resets";
@import "extends";
@import "vars";

html, body {
	height: 100%;
	position: relative;
}

.menu-inline {
	@extend %clearfix;
	> li {
		float: left;
	}
}

.container {
	max-width: 1080px;
}

#main-menu-container {
	width: 100%;
	top: 75px + $pad;
	left: 0;
	position: absolute;
}

#main-menu {
	max-width: 1080px;
	margin: 0 auto;
	height: 25px;
	> li {
		height: 25px;
		line-height: 25px;
		padding: 0 $pad/2;

		&:first-of-type {
			padding-left: 0;
		}
	}
}

[role="main"] {
	padding-top: 100px + $pad*2;
	padding-bottom: 50px;
	min-height: 100%;
	margin-bottom: -30px;
}

h1, h2, h3, h4 {
	margin: 0;
}

#header {
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	position: absolute;
	background-color: gray;
}

#footer {
	@extend %clearfix;
	background-color: gray;

	@media screen and (min-width: 480px) {
		height: 30px;

		#copyright {
			float: right;
		}
	}
	
	> * {
		height: 30px;
		line-height: 30px;
		color: #fff;
	}
}

.module {
	border: solid thin gray;
	padding: $pad;
	border-radius: $pad/2;
}